<?xml version="1.0"?>
<!--
/**
 * Copyright © Octedia. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\DataExporter\Model\Logging\CommerceDataExportLoggerInterface" type="Octedia\FixMonologCustomLogFiles\Model\Logging\DataExporter"/>
    <preference for="Magento\SaaSCommon\Model\Logging\SaaSExportLoggerInterface" type="Octedia\FixMonologCustomLogFiles\Model\Logging\SaaSCommon"/>
</config>
